@model AddProductModel
@{
	ViewData["Title"] = "Add Page";
}
<div class="container-fluid mt-5 pt-5 mb-5 pb-2">
	@{
		if (ViewData["IsAdmin"] != null && (bool)ViewData["IsAdmin"] == true)
		{
			<h1 class="mt-4 text-center">Nuovo Prodotto</h1>
			@if (TempData["Error"] != null)
			{
				<span class="text-danger">@TempData["Error"]</span>
			}
			<form method="post" asp-controller="Admin" asp-action="AddProduct">
				<div class="formGroup">
					<label for="name" asp-for="Name" class="form-label"></label>
					<input id="name" asp-for="Name" class="form-control" />
					<span class="text-danger" asp-validation-for="Name"></span>
				</div>

				<div class="formGroup">
					<label for="price" asp-for="Price" class="form-label"></label>
					<input type="number" id="price" asp-for="Price" class="form-control" />
					<span class="text-danger" asp-validation-for="Price"></span>
				</div>

				<div class="formGroup">
					<label for="description" asp-for="Description" class="form-label"></label>
					<textarea id="description" asp-for="Description" class="form-control"></textarea>
					<span class="text-danger" asp-validation-for="Description"></span>
				</div>

				<div class="formGroup">
					<label for="descriptionShort" asp-for="DescriptionShort" class="form-label"></label>
					<textarea id="descriptionShort" asp-for="DescriptionShort" class="form-control"></textarea>
					<span class="text-danger" asp-validation-for="DescriptionShort"></span>
				</div>

				<div class="formGroup">
					<label for="img" asp-for="Img" class="form-label"></label>
					<input id="img" asp-for="Img" class="form-control" />
					<span class="text-danger" asp-validation-for="Img"></span>
				</div>

				<div class="formGroup">
					<label for="img2" asp-for="Img2" class="form-label"></label>
					<input id="img2" asp-for="Img2" class="form-control" />
					<span class="text-danger" asp-validation-for="Img2"></span>
				</div>

				<div class="formGroup">
					<label for="img3" asp-for="Img3" class="form-label"></label>
					<input id="img3" asp-for="Img3" class="form-control" />
					<span class="text-danger" asp-validation-for="Img3"></span>
				</div>

				<div class="formGroup">
					<label for="idCategory" asp-for="IdCategory" class="form-label"></label>
					<select asp-for="IdCategory" class="form-control text-center">
						<option value="">-- Seleziona una Categoria --</option>
						@foreach (var category in Model.Categories!)
						{
							<option value="@category.Id">@category.Name</option>
						}
					</select>
					<span class="text-danger" asp-validation-for="IdCategory"></span>
				</div>

				<div class="m-2 text-end">
					<button class="btn btn-sm btn-success" type="submit">Save</button>
					<button class="btn btn-sm btn-warning" type="reset">Reset</button>
				</div>
			</form>
		}
		else
		{
			<div class="text-center">
				<h4 class="text-danger fw-bold mt-5">Non sei autorizzato a visualizzare questa pagina!</h4>
			</div>
		}
	}
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}