@model ProductsViewModel

@{
	ViewData["Title"] = "Prodotti";
}

<div class="container-fluid my-5">
	<h1 class="text-center">Prodotti</h1>

    <div class="row">
        @foreach (var prodotto in Model.Products)
        {
            <div class="col-4 mb-2">
                <div class="card">
                    <img src=@prodotto.Img class="img-fluid rounded-start rounded-end" alt="prodotto" />
                    <div class="card-body d-flex flex-column justify-content-center">
                        <h5 class="card-title text-center">@prodotto.Name</h5>
                        <p class="card-text text-center">€ @prodotto.Price</p>
                        <p class="card-text text-center">@prodotto.DescriptionShort</p>
                        <div class="d-flex align-items-center justify-content-end">
                            <a asp-controller="" asp-action="" asp-route-id="@prodotto.Id" class="me-4 text-decoration-none"><i class="bi bi-info-circle"></i> Info</a>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
</div>

