@model RegisterModel;
@{
	ViewData["Title"] = "Registration Page";
}
<div class="container mt-5 pt-5">
	<h1>Crea un Account</h1>

	@if (TempData["Error"] != null)
	{
		<span class="text-danger">@TempData["Error"]</span>
	}
	@if (TempData["UniqueUsername"] != null)
	{
		<span class="text-danger">@TempData["UniqueUsername"]</span>
	}
	@if (TempData["ErrorPassword"] != null)
	{
		<span class="text-danger">@TempData["ErrorPassword"]</span>
	}

	<form method="post" asp-controller="Login" asp-action="RegisterSave">
		<div>
			<label for="username" asp-for="Username" class="form-label"></label>
			<input id="username" asp-for="Username" class="form-control" />
			<span class="text-danger" asp-validation-for="Username"></span>
		</div>

		<div>
			<label for="password" asp-for="Password" class="form-label"></label>
			<input id="password" asp-for="Password" class="form-control" />
			<span class="text-danger" asp-validation-for="Password"></span>
		</div>

		<div>
			<label for="confirmPassword" asp-for="ConfirmPassword" class="form-label"></label>
			<input id="confirmPassword" asp-for="ConfirmPassword" class="form-control" />
			<span class="text-danger" asp-validation-for="ConfirmPassword"></span>
		</div>

		<div class="mt-2">
			<button class="btn btn-success" type="submit">Save</button>
			<button class="btn btn-warning" type="reset">Reset</button>
		</div>
	</form>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
